#header {
    color: #FBFFB8;
    background-color: #522F61;
}
#title {
    font-size: 50px;
    font-weight: bold;
    margin-left: 4%;
}
#menu {
    display: flex;
    position: absolute;
    top: 50%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
#profile-pic {
  display: inline-flex;
  height: 3em;
  width: 3em;
  margin-left: 20px;
  margin-right: 20px;
  }
#body {
    background-color: rgb(229, 229, 255);
    min-width: 560px;
    width: 80%;
    margin: 0 auto;
    min-height: 250px;
    padding: 20px;
    display: flex;
}
#body-left {
    border-right: 3px solid white !important;
}
#body-right{
    padding-left: 20px;
}
#view_pic {
    width: 100%;
    padding-top: 70px;
    padding-left: 10px;
}
p {
}
a {
   color: #FF5700;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #FF1300;
  text-decoration: underline;
}
i {
   color: #A5A18A;
}
.row {
    width: 80%;
    min-width: 560px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
    word-wrap: break-word;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
