{% extends "layout.html" %}

{% block body %}
<div>
    <p><h2>{{ data.action }} Item</h2></p>
        <p>
            <form id="myform" method="post" action="#">
              Name: <br/>
              <input type="text" name="name" size=30 {% if data.name %}value="{{ data.name }}"{% endif %}><br/>
              {% if data.type == "item" %}
                Description: <br/>
                <textarea name="description" rows=4 cols=60>{% if data.description %}{{ data.description }}{% endif %}</textarea><br/>
                Category: <br/>
                <select name="category_id">
                  {% for category in data.categories %}
                    <option {% if data.category_id == category.id %}selected="selected"{% endif %} value={{ category.id }}>{{ category.name }}</option>
                  {% endfor %}
                </select><br/>
              {% endif %}
              <br/>
              <a href="/">Cancel and go back</a> | <a onclick="document.getElementById('myform').submit();">Confirm</a>
            </form>
  </p>
</div>
{% endblock %}
