<!doctype html>
<html>
  <head>
    <title>Catalog App</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    {% block body_scripts %}{% endblock %}
  </head>
  <body>

    <div id="header" class="row">
      <div id="title" class="col-5"><a href="/">Catalog App</a></div>
      <div id="menu">
        <div id="profile-data">
          {% if not sess.user %}
            {% include 'login.html' %}
          {% else %}
            <div id="profile_name"><b>{{ sess.user.name }}</b></div>
            <a id="logout" href="/logout">log<b>out</b></a>
            {% if sess.user.picture %}
              </div>
              <div id="profile-pic"> <img src="{{ sess.user.picture }}">
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row" id="body">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
