{% extends "layout.html" %}

{% block body %}
  <div class="col-4" id="body-left">
    <h2>Category</h2>
    {% for item in  data.left_content %}
      <p><a href="/category/{{ item.id }}">{{ item.name }}</a></p>
    {% endfor %}
    <p><hr></p>
    <p><a href="/category/create/">Add category</a></p>
  </div>
  <div class="col-8" id="body-right">
    <div style="display: -webkit-box;">
        <h2>{{ data.right_title }}</h2>
        {% if not data.with_parrent and sess.user_id == data.category.user_id %}
        <a href="/category/{{data.category.id}}/edit/">Edit</a> | <a href="/category/{{data.category.id}}/delete/">Delete</a>
        {% endif %}
    </div>
    {% for item in  data.right_content %}
      <p>
        <a href="/item/{{ item.id }}">{{ item.name }}</a>
        {% if data.with_parrent %}<i>({{ item.category.name }})</i>{% endif %}
      </p>
    {% endfor %}
    <p><hr></p>
    <p><a href="/item/create/">Add item</a></p>
  </div>

{% endblock %}
